@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: rgb(208, 144, 61);
    --background-color: rgb(240, 216, 184);
    --dark-color: black;
}

html{
    font-size: 62%;
    font-family: 'Poppins', sans-serif ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER  */

.container{
background-color:var(--background-color)
}

.container1{
    display: flex;
    justify-content:space-between;
    padding: 2rem 0;
    align-items: center;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.container-logo h1 a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-carrito{
    display:flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 8rem;
    }

    .container-carrito .material-icons{
        font-size: 4rem;
        color:firebrick;
        padding-left: 1rem;
    }

 
    /* NAV  NAVBAR */

   .container-nav{
    background-color: var(--primary-color);
     
   }

   .container-navbar{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 1rem 0;
    text-indent: 3em;            /*   el corrido de una palabra o una frase */
    overflow: hidden;
   }

   .menu {
    display: flex;
    gap: 1rem;
    
   }

   .menu li{
    list-style:none;
   }

   .menu a{
    text-decoration:none;
    font-size: 1.2rem;
    color:var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position:relative;
   }

   .menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}


/* BANNER */

.banner {
	background-image: linear-gradient(100deg,#abb2b9,#212f3d20 ),
		url('/imagenes/fotoprincipal1jpg.jpg');
	height: 45rem;
	background-size: cover;
	background-position: center;
}

.conten-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 15rem 10rem;
}

.conten-banner p {
	color: black;
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}
.conten-banner h2 {
	color:rgb(176, 34, 34);
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.conten-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 3rem 5rem;
	text-transform: uppercase;
	border-radius: 3rem;
}


/* VIDEOS INSTITUCIONALES */

.container-institucional{
    background-color:var(--primary-color);
}

.container-general{
    display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.cards{
    display:grid;
    grid-template-columns: repeat(2,1fr);
	gap: 3rem;
	margin-bottom: 3rem;
    background-color:var(--primary-color);
}

.card{
    display: flex;
	flex-direction: column;
	gap: 2rem;
    background-color:var(--background-color);
    text-align: center;
}

 h3 {
	margin-top: 2rem;
	text-decoration: none;
	color:black;
	background-color:var(--background-color);
	text-align: center;
	border-radius: 3rem;
    font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

/* tarjetas de actividades */

.carta {
    position:relative;
    width: 250px;
    height: 300px;
    margin: 20px;
    }

    .carta .face { 
position:absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 20px;
overflow: hidden;
transition: 1.5s;
}

.carta .front {
    transform:perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.carta .front img {
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta .front h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color:#fff;
    background: black;
    text-align: center;
}

.carta .back {
    transform: perspective(600px) rotateY(180deg);
    background:var(--dark-color);
    padding: 15px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 10px black;
}

.carta .back .link{
    border-top: soli 1px;
    height: 50px;
    line-height: 50px;
    }

    .link {
        text-align: center;

    }    

    .link a{    
    transform: perspective(600px) rotateY(0deg);
    padding: 10px; 
    width: 100%;
    height: 45px;
    line-height: 100px;
    color:black;
    background: white;
    text-align: center;
    position:relative;   
                 
    }
       
    .carta .back h4{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
        text-align: center;
    }

    .carta:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }

    .carta:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
    .body{
        flex-wrap: wrap;
        
    }

    .cartas{
        display:flex;
        grid-template-columns: repeat(3,1fr);
        background-color: var(--primary-color);
        width: 100%;
        margin: 5px;
        flex-direction: column;
    }

    @media(min-width: 480px){
        .cartas{
            display:grid;
            grid-template-columns: repeat(4,1fr);
        }
    }
    .titulo-carta{
        background-color:var(--primary-color);
    
    }

/* FOOTER */


   .pie-pagina{
   width: 100%;
   background-color:var(--background-color);
   }

   .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
   }

   .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .pie-pagina .grupo-1 .box figure img{
    width: 150px;
   }

   .pie-pagina .grupo-1 .box h5{
    color: black;
    margin-bottom: 25px;
    font-size: 25px;
   }

   .pie-pagina .grupo-1 .box p{
    color:black;
    margin-bottom: 10px;
   }

   .pie-pagina .grupo-1 .red-social li i{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:white;
    margin-right: 10px;
    background-color:var(--primary-color);
    text-align: center;
    transition: all 300ms ease;
   }

   .pie-pagina .grupo-2{
    background-color:var(--primary-color);
    padding: 15px 10px;
    text-align: center;
    margin: auto;
   
   }
   
   .pie-pagina .grupo-3 {
 font-size: 20px;
 text-align: center;
 background-color:var(--primary-color);
 margin-bottom: 10px;
 word-spacing: .5vw;
  
 }
    h5{
        font-size: 30px;
        border-radius: 15px;
    }

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
}
}