
body {
background-color:powderblue; 
text-align: center;
}

h1 {
    padding: 70px;
    color:crimson;
    text-align: center;
}

h2 {
    color:black;
    text-align: center;
}

a{
   
    text-decoration: none;
    text-align:center;
    color:white;

}

button{
    background-color:darkblue;
    border-radius: 20px;
    height: 55px;
    font-size: large;
}