.slaider{
width: 100vw;
height: auto;
margin: auto;
overflow: hidden;
}

.slaider .slaider-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite; 
    width:calc(200px *16);
}

.slaider .slide{
    width: 200px;
}

.slaider .slide img{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@keyframes scroll {
    0% {
        -webkit-transform: translatex(0);
        transform:translatex(0);   
    }
    100% {
        -webkit-transform: translatex(calc(-200px * 8));
        transform:  translatex(calc(-200px * 8));
    
    }
}

/* Botón de WhatsApp */

.whatsapp-button {
    position: fixed; /* Asegura que el botón esté fijo en la pantalla */
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 25px; /* Distancia desde el borde derecho */
    background-color: #2ce971; /* Color de fondo verde de WhatsApp */
    color: white; /* Color del ícono */
    border: none; /* Elimina el borde predeterminado del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    display: flex; /* Utiliza flexbox para centrar el icono */
    align-items: center; /* Centra verticalmente el icono dentro del botón */
    justify-content: center; /* Centra horizontalmente el icono dentro del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Añade una transición suave para el cambio de color */
    z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
    text-decoration: none;
}

.whatsapp-button:hover {
    background-color: #1e9e52; /* Cambia el color de fondo cuando el usuario pasa el mouse por encima */
}

.whatsapp-button i {
    font-size: 35px; /* Ajusta el tamaño del ícono */
}

